<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <%- include("./partials/nav") %>
    
    <form action="/blog/add-new" method="post" enctype="multipart/form-data">
    <div class="container mt-4">

        <label for="coverImage" class="form-label">Cover Image</label>
      <input type="file" class="form-control" id="coverImage"
      name="coverImage"> 

      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title"
      name="title"> 

      <div class="mb-3">
        <label for="floatingTextarea2">Bloging Area!</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" 
        style="height: 200px" name="body">
    </textarea>
        
      </div> 

      <div class="btn btn-primady"><button>Submit</button></div>
    </div>
</form>

    <%- include("./partials/scripts") %>
</body>
</html>